.bill-materials {
    padding: 16px;
}

.material-composition-heading {
    font-size: 14px;
    text-align: left;
    display: flex;
    margin-bottom: 26px;
    gap: 8px;
    position: relative; 
}
.info-icon {
    position: relative;
    cursor: pointer;
    color: #007bff;
    font-size: 16px;
}

.tooltip {
    position: absolute;
    top: 50%;
    left: 100%; 
    transform: translateY(-50%); 
    background-color: #fff;
    color: #333;
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 11px;
    min-width: 300px;
    text-align: left;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease;
    line-height: 1.4;
}

.info-icon:hover .tooltip {
    opacity: 1;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -6px; 
    transform: translateY(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent #333 transparent transparent; 
}


.entry-type-select {
    display: flex;
    align-items: center;
    gap: 12px; 
    margin-bottom: 16px; 
}

.select-method-label {
    font-size: 12px; 
    text-align: left;
}

.add-materials-button {
    margin-left: 12px; 
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    background-color: #2196f3;
    color: white;
    transition: background-color 0.3s ease;
}

.add-materials-button:hover {
    background-color: #1e88e5;
}

.generate-materials-button{
    margin-left: 12px; 
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    background-color: #2196f3;
    color: white;
    transition: background-color 0.3s ease;
}