h3, .h3 {
    font-size:14px;
 }
 .product-categorization-title {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
}

.info-icon {
    position: relative;
    cursor: pointer;
    color: #007bff;
    font-size: 16px;
    margin-left: 4px;
}

.tooltip {
    position: absolute;
    top: 50%;
    left: 100%; 
    transform: translateY(-50%); 
    background-color: #fff;
    color: #333;
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 11px;
    min-width: 300px;
    text-align: left;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease;
    line-height: 1.4;
}

.info-icon:hover .tooltip {
    opacity: 1;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -6px; 
    transform: translateY(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent #333 transparent transparent; 
}


.readonly-input {
    pointer-events: none;
    color: #666;
    background-color: #f5f5f5;
    cursor: default;
    width: 100%;
}

.input-with-edit {
    display: flex;
    align-items: center;
    gap: 8px;
}

.edit-button, .done-button {
    background-color: #f0f0f0 !important;
    font-size: 12px !important;
    
    // padding: 0.3em 1em;
    // font-size: 0.9em;
    cursor: pointer;
}



.done-button {
    background-color: #4CAF50 !important;
    color: #fff;
}

.input-row {
    display: flex;
    gap: 10px;  
}

.input-row input {
    flex: 1;  
    min-width: 0;  
}

.input-half {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    gap: 16px;
    width: 100%;
}

.margin-top {
    margin-top: 16px; 
}

