

.product-info-summary {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f3f3f3;
    width: auto;
    // margin-top: 20px;
    // max-width: 800px;
    margin: 0 auto;
    height: 250px;

    .summary-image {
        position: relative;
        width: 200px;
        height: 200px;
        border-radius: 8px;
        background-color: #ffffff; 
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-position: center;
        margin-right: 20px;
        font-size: 16px;
    
        .image-label {
            position: absolute;
            top: 10px; 
            right: 10px; 
            background-color:#e6f7ff; 
            color: #007acc; 
            padding: 5px 10px; 
            border-radius: 6px; 
            font-size: 14px; 
            font-weight: bold; 
        }
    }

    .summary-details {
        display: flex;
        font-size: 12px;
        width: 80%;
        gap: 20px;

        .details-left{
            width: 250px;
        }
        .details-right {
            flex: 1;
        }
        
        .detail-item{
            width: 200px;
        }
        

        .close-button {
            margin-top: 60px;
            padding: 8px 16px;
            font-size: 14px;
            color: #fff;
            background-color: #007bff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .close-button:hover {
            background-color: #0056b3;
        }
    }
}




.inventory-section {
    margin-top: 20px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
}

.inventory-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.view-toggle {
    display: flex;
}



.inventory-tree, .inventory-list {
    font-size: 16px;
    color: #333;
}

.tree-item {
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.tree-children {
    padding-left: 20px;
}

.tree-sub-item, .inventory-list li {
    margin: 8px 0;
    color: #424242;
}


.inventory-list {
    margin-top: 1rem;
    overflow-x: auto;

    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 0.9rem;

        th, td {
            padding: 0.8rem;
            text-align: left;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f5f5f5;
            color: #333;
            font-weight: bold;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:nth-child(odd) {
            background-color: #fff;
        }

        tbody tr:hover {
            background-color: #e6f7ff;
        }
    }
}


.view-toggle {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;

    .toggle-button {
        padding: 0.5rem 1rem;
        border: 1px solid #000000;
        background-color: white;
        // color: #000000;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        border-radius: 4px;

        &.active {
            background-color: #000000;
            color: white;
        }

        &:hover:not(.active) {
            background-color: #e6f7ff;
        }
    }
}



.title-container {
    position: relative;
    padding: 1rem 0;

    .dashboard-title {
        font-size: 18px;
        font-weight: bold;
        margin: 0;
    }

    .subheading {
        font-size: 14 px;
        color: #424242;
        // margin-top: 0.3rem;
    }

    .back-button {
        position: absolute;
        background-color: #000000;
        color: white;
        top: 0;
        right: 0;
        cursor: pointer;
    }
}



.widgets-row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 2rem 0; 
    background-color: #ffffff; 
    border-radius: 8px;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .product-footprint {
    text-align: center;
    margin-top: 20px;
}

  .widget {
    flex: 1; 
    padding: 1rem;
    background-color: #ffffff; 
    border: 1px solid #e0e0e0; 
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    // align-items: center;
  }
  
  .widget h3 {
    font-size: 14px;
    font-weight: 600;
    color: #424242;
    margin-bottom: 1rem;
    text-align: left !important;
  }
  

  .widget-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
 
  
  .widget table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .widget table th,
  .widget table td {
    text-align: left;
    padding: 0.5rem;
    font-size: 12px;
    color: #424242;
  }
  
  .widget table th {
    font-weight: 600;
    background-color: #0066ff;
    color: white;
  }
  
  .widget table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Responsiveness */
  @media (max-width: 768px) {
    .widgets-row {
      flex-direction: column;
      gap: 1rem;
    }
  
    .widget {
      width: 100%;
    }
  
    .circle-chart {
      width: 100px;
      height: 100px;
    }
  
    .circle-chart .circle-value {
      font-size: 1rem;
    }
  }
  