.esgnow-material-row {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    align-items: center;
    margin-bottom: 10px;
}

.esgnow-material-field {
    flex: 1;
}

.esgnow-specific-material-field {
    flex: 2;
}

.esgnow-material-weight-field {
    flex: 0.7;
}

.esgnow-unit-field {
    flex: 0.3;
}

.esgnow-material-select,
.esgnow-specific-material-select,
.esgnow-weight-input,
.unit-select {
    width: 100%;

}

.unit-select {
    max-width: 100px;
}

.esgnow-weight-input {
    max-width: 180px;
}

.esgnow-weight-input input {
    background-color: transparent;
    // border: 1px solid #ccc; 
    padding: 8px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .material-row {
        flex-direction: column;
    }

    .esgnow-material-field,
    .esgnow-specific-material-field,
    .esgnow-material-weight-field,
    .unit-field {
        flex: 1;
        min-width: 100%;
    }
}

.esgnow-add-another-material-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 12px;
}

.esgnow-add-material-button-container {
    display: flex;
    margin-top: 20px;
}

.esgnow-add-material-button {
    text-align: center;
    margin-right: 20px;
}

.esgnow-material-entry-label,
.esgnow-specific-material-label,
.esgnow-material-weight-field-label {
font-size: 12px;
}