
.queue-wrapper {
    .uxpcore_crud__left-container {
        width: 100%;
    }
    .uxpcore_crud__title {
        width: 100%;
    }

    .clear-btn {
        margin: 0;
    }

    .title-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}