.metadata_input {
    &__container {
        width: 100%;
        height: auto;
        border-radius: 10px;
        border: 1px solid var(--borderColor);
        padding: 16px;
        background-color: var(--backgroundColor);
    }

    &__header {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 16px;
        border-bottom: 1px solid var(--borderColor);
        padding-bottom: 8px;
    }

    &__actions {
        .uxp-button {
            padding: 6px 12px;
            font-size: 14px;
        }
    }

    &__body {
        width: 100%;
        padding: 4px;
        background-color: var(--secondaryBackgroundColor);
    }

    &__no_data {
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        color: var(--secondaryTextColor);
        padding: 16px;
    }

    &__outer_table {
        border-radius: 8px;
    }

    &__outer_table td {
        border: 1px solid var(--borderColor);
    }

    &__inner_table tr {
        border-bottom: 1px solid var(--borderColor);;
    }

    &__inner_table td {
        border: none;
    }
}

.metadata_button {
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    background-color: var(--primaryColor);
    color: #fff;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: var(--primaryHoverColor);
    }
}
